

   .list {
   
    webkit-transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
    transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);

    scrollbar-width: none;
  }
  .wrap .list::-webkit-scrollbar {
    display: none;
  }
  .wrap .list::-webkit-scrollbar {
    display: none;
  }
  .wrap .list::-webkit-scrollbar {
    display: block;
  }
  .wrap .list .item {
    width: 30%;
    height: 400px;
    margin: 20px;
    display: inline-block;
    position: relative;
  }
  .wrap .list .item::after {
    content: '';
    position: absolute;
    z-index: 150;
    width: 100%;
    top: 0px;
    left: 0px;
    height: 100%;
  }



  h2{
    margin: 0px;
    margin-top: -12px;
    margin-bottom: 2px;
  }