
:root {
  --color-dark: #161616;
  --color-ocean: #416dea;
  --color-grass: #3dd28d;
  --color-snow: #FFFFFF;
  --color-salmon: #F32C52;
  --color-sun: #feee7d;
  --color-alge: #7999a9;
  --color-flower: #353866;
  --color-smoke: #e4e4e4;
  --borderRadius: 10px;
  --gradient-one: linear-gradient(90deg, rgba(180,180,58,1) 0%, rgba(122,253,29,1) 50%, rgba(252,178,69,1) 100%);
  --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


::-moz-selection {
  background: #dbdbdb;
  color: white;
}

@font-face{
  font-family: arialBlack;
  src: url(arial-black.ttf) ;
}

.line h4{
  margin: 0em;
}

.line h3{
  margin: 0em;
}

.riseUp{
  transition: margin-top 1s;
  margin-top: -2em;
  overflow: hidden;
}

.riseUp:hover{
  margin-top: -10em !important;
}



::selection {
  background: #000000;
  color: white;
}

body {
  overflow: scroll;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  /* height: 100%;
  overflow: hidden; */
}

h1 { font-size: 5rem }
h2 { font-size: 2rem }

img {
  width: 100%;
  height: auto;
  background: #f0f0f0;
}

.showme {
  display: none;
}

.showhim:hover .showme {
  display: block;
}

.showme{
  margin-top: -3em;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 5px;
  position: absolute;
  width: 10em;
  background-color: white;
  border-radius: 5px;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}

.showme h4{
  margin: 3px;


}

.showme h4 {
  margin: 3px;
  font-size: 20px;
}


.showme h5 {
  margin: 3px;
  font-size: 22px;
}



:-webkit-any-link { color: #4e9815; }

:-moz-any-link { color: #4e9815; }

:any-link { color: #4e9815; }


.button {
  display: flex;
  overflow: hidden;
  margin: 10px;
  padding: 12px 22px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: capitalize;
  color: #fff;
  border: 0 none;
  border-radius: var(--borderRadius);
  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
  align-items: center;
  flex: 0 0 160px;
  box-shadow: 2px 5px 10px var(--color-smoke);
}
.button:hover {
  transition: all 150ms linear;
  opacity: 0.85;
}
.button:active {
  transition: all 150ms linear;
  opacity: 0.75;
}
.button.-regular {
  color: #202129;
  background-color: #f2f2f2;
}
.button.-regular:hover {
  color: #202129;
  background-color: #e1e2e2;
  opacity: 1;
}
.button.-regular:active {
  background-color: #d5d6d6;
  opacity: 1;
}

.expand{
  transition: transform 1s;
}

.expand:hover{
  transform: scale(1.03);
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;

  stroke-dashoffset: 25%
}
input {
  background-color: transparent;
}

.hidden{
  opacity: 0.4;
}

.hidden:hover{
  opacity: 0.7;
}

.rise{
  transition: transform 1s;
}

.showText{
  opacity: 0;
  transition: opacity 1s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.2em 1em;
  overflow: visible;
  width: fit-content;
  border-radius: 3px ;
  margin-top: 2em !important;
  position: absolute;
  margin-left: -1.4em;
}

.rise{
  transition: display 2s;
}

.rise:hover  .showText{
  opacity: 1;
}

.rise:hover{
  transform: translateY(-5px);
  transform: scale(1.03);
}


.borderRirght{
  margin-right: 1em;
  padding-right: 1em ;
  border-right: 3px solid black;
}