:root {
    --color-dark: #161616;
    --color-ocean: #416dea;
    --color-grass: #3dd28d;
    --color-snow: #FFFFFF;
    --color-salmon: #F32C52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;
    --color-smoke: #e4e4e4;
    --borderRadius: 10px;
    --font-face: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

body.linked .button, body.linked h1 {
    opacity: 0.3;
    transition: opacity 300ms linear;
  }
  body.linked p {
    color: var(--color-smoke);
    transition: color 300ms linear;
    margin: 0em;
  }
  
  .addPadding{
    width: 6em;
    padding: 0px 7px ;
  }

  button#additem {
    background-color: #161629 !important;
    color: white;
  }

.buttonA{
    color: white;
    padding: 10px 22px ;
    opacity: 0.6;
  }
  
  .buttonA:hover{
    opacity: 1;
  }
  
  a, a:visited {
    text-decoration: none;
    font-weight: 400;
  }
  a:hover, a:visited:hover {
    text-decoration: none;
  }

  

.button-container {

    width: 20em;
  }
  
  .button {
    display: flex;
    overflow: hidden;
    margin: 10px;
    padding: 12px 22px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 150ms linear;
    text-align: center;
    white-space: nowrap;
    text-decoration: none !important;
    text-transform: none;
    text-transform: capitalize;
    color: #fff;
    border: 0 none;
    border-radius: var(--borderRadius);
    font-size: 13px;
    font-weight: 500;
    line-height: 1.3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    justify-content: center;
    align-items: center;
    flex: 0 0 160px;
  }
  .button:hover {
    transition: all 150ms linear;
    opacity: 0.85;
  }
  .button:active {
    transition: all 150ms linear;
    opacity: 0.75;
  }
  .button.-regular {
    color: #202129;
    background-color: #f2f2f2;
  }
  .button.-regular:hover {
    color: #202129;
    background-color: #e1e2e2;
    opacity: 1;
  }
  .button.-regular:active {
    background-color: #d5d6d6;
    opacity: 1;
  }
  
  .button.-dark {
    color: var(--color-snow);
    background: var(--color-dark);
  }
  .button.-dark:focus {
    outline-offset: -4px;
  }


  .expand{
    transition: all 1s;

}

.expand:hover{
    transform: scale(1.02);
}

.para{
  font-size: 19px;
  line-height: 1.21053;
  font-weight: 400;
  letter-spacing: .012em;
}

.disappear{
transition: opacity 2s;
}

.disappear:hover{
    opacity: 0.1;
}

#hover-content {
  opacity: 0;
  transition: opacity 2s;
}


#parent:hover #hover-content {
  opacity: 0.7;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 550px)  {
  .six {
    margin-top: 1em;
  }
}

.rise{
  transition: margin-top 1s;
}

.rise:hover{
  margin-top: 10em
}

@font-face{
  font-family: arialBlack;
  src: url(arial-black.ttf) ;
}

.colorChange{
  animation-name: changeIt;
  animation-duration: 4s;
}

@keyframes changeIt {
  0%   {color: rgb(51, 51, 51);}
  25%  {color: rgb(184, 184, 184);}
  50%  {color: rgb(88, 88, 88);}
  750% {color: rgb(44, 44, 44);}
  100% {color: rgb(51, 51, 51);;}

}


header.nav.header {
  display: none;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #999 !important;
}

.flex-auto{
  flex: auto !important
}


.right{
  margin-left: 5px;
}

.right p{
font-weight: 500;
font-size: 2em;
margin: 2px;
}


button{
  background-color: rgb(245, 245, 245);
  border: none;
  border-radius:4px;
}


.bganimate{
  animation: gradient  infinite 10s;
}

@keyframes gradient {
  0% {
    background: rgb(247, 215, 215) ;
    transform: rotate3d(2, -1, -1, -0.7turn);
  }
  20% {
    background:rgb(194, 78, 78) ;
    transform: rotate3d(2, -1, -1, -0.2turn);
  }
  30% {
    background:rgb(216, 159, 159) ;
    transform: rotate3d(0, 0, 0, 0turn);

  }
  45% {
    background:rgb(218, 92, 92) ;
    transform: rotate3d(2, -1, -1, -0.7turn);
  }
  60% {
    background:rgb(236, 125, 125) ;
    transform: rotate3d(2, 1, -1, -0.2turn);

  }
  80% {
    background:rgb(255, 164, 164) ;
    transform: rotate3d(1, 1, -1, -0.2turn);

  }
  90% {
    background:rgb(231, 90, 90) ;
    transform: rotate3d(2, -1, -1, -0.7turn);

  }
  100% {
    background: rgb(247, 215, 215) ;
    transform: rotate3d(2, -1, -1, -0.7turn);
  }
} 
@keyframes twist {
  0% {
    background: rgb(247, 215, 215) ;
    transform: rotate3d(2, -1, -1, -0.7turn);
  }
  20% {
    background:rgb(216, 76, 76);
    transform: rotate3d(2, -1, -1, -0.2turn);
    z-index: 10;

  }
  30% {
    background:rgb(228, 119, 119);
    transform: rotate3d(0, 0, 0, 0turn);

  }
  45% {
    background:rgb(235, 111, 111) ;
    transform: rotate3d(2, -1, -1, -0.2turn);
    z-index: 10;
  }
  60% {
    background:whitesmoke;
    transform: rotate3d(2, 1, 1, -0.7turn);

  }
  80% {
    background:rgb(253, 90, 90);
    transform: rotate3d(1, -1, -1, -0.1turn);

  }
  90% {
    background:rgb(219, 136, 136);
    transform: rotate3d(2, -1, -1, -0.7turn);

  }
  100% {
    background: rgb(247, 215, 215) ;
    transform: rotate3d(2, -1, -1, -0.7turn);
  }
} 

.twister:after {
  left: 200px;
  top: -300px;
  transform: skewX(40deg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.twister{
  animation: twist  infinite 30s;
  height: 70em;
  width: 20em;
  z-index: 10;
  margin-right: 10px;
  padding: 1em;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}



/* .bar:before, .box:after {
  content: "";
  height: 100%;
  width: 200px;
  display: block;
  position: relative;
  border-radius: 50% 100% 50% 50% / 60% 0% 40% 0%;

}



.bar:before {
  left: 200px;
  top: 100px;
  transform: skewX(40deg);
  animation: rotateThis  infinite 30s;

} */

@keyframes rotateThis {
  0% {
    transform: skewX(20deg);
    box-shadow: -30px 0 40px -10px #eb1c1c;

    }
  20% {
    transform: skewX(60deg);
    box-shadow: -30px 0 40px -10px #e0e0e0;

  }
  30% {
    transform: skewX(20deg);
    box-shadow: -30px 0 40px -10px #c90000;

  }
  50% {
    transform: skewX(0deg);
    box-shadow: -30px 0 40px -10px #fcfcfc;

  }
  60% {
    transform: skewX(-40deg);
    box-shadow: -30px 0 40px -10px #eb1c1c;

  }
  90% {
    transform: skewX(-10deg);
    box-shadow: -30px 0 40px -10px #fcfcfc;

  }
  100% {
    transform: skewX(20deg);
    box-shadow: -30px 0 40px -10px #eb1c1c;

  }
}  */

.bar:after {
  left: 200px;
  top: -300px;
  transform: skewX(40deg);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}

.bar{
  height: 70em;
  width: 20em;
  z-index: 10;
  margin-right: 10px;
  padding: 1em;
  border-radius: 15px;
  animation: gradient  infinite 30s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}


footer.visible-xs-flex.nav.footer {
}

.smolbar{
  height: 2em;
  width: 0.5em;
  background-color:black;
  margin-right:2px;
  border-radius:2px;
}

.smolbar2{
  height: 1.2em;
  width: 0.3em;
  background-color:rgb(255, 255, 255);
  border: 1px solid #c2c2c2;
  margin-right:2px;
  border-radius:2px;
}

.smolbar3{
  height: 26px;
  width: 9px;
  margin-top: 13px;
  background-color:rgb(34, 34, 34);
  margin-left:3px;
  border-radius:2px;
}

.last{
  border-radius: 2px 0px 0px 2px
}

.lowerThis{
  margin-top: 2em;
}

select.language-selector {
  border: none;
  background-color: #ffffff00;
  color: black;
}

input#login-form-name {
  color: black;
}

.profile{
  
}

.infoBox{
  background-color: black ;
border-radius: 10px;
padding: 1em;

}

.blur-all {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.nullBlur{
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.boxedOrder{
  background-color: rgb(241, 241, 241);
  padding: 1em;
  border-radius: 7px;
}


.glow:hover{
  background-color: rgb(68, 68, 255)
}

.null{
  z-index: 100;
  FONT-WEIGHT: 400;
  margin-top: 6px;
  font-size: 15px;

}

.paddingSteps{
  padding: 5px 40px;
}

.subItem{
  min-width: 13em;
  background-color: whitesmoke;
  height: 6em;
  padding: 1em;
  border-radius: 5px;
  margin-right: 1em;
}

#subList{
  display: flex;
  overflow-x: scroll;
}

.subItemText{
  color: black;
}

.checkoutInput{
  background-color: rgba(255, 255, 255, 0);
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

hr{
  border: 1px solid rgb(221, 221, 221);
}

/** This class will hide all the body by default **/
#accordion .acc-body{
  display : none;
}
/** This class will show the body if it has "active" parent class. "active" class will be added to panel div **/
#accordion .active .acc-body {
  display : block;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}
.info h4 {
  margin: 0 0 5px;
  color: #777;
}

html, body {
  height: 100%;
  margin: 0;
}

#mapid { height: 400px; border-radius: 10px; }



.showOff{
  width: 30em;
  height: 20em;
  border-radius: 10px;
  margin-right: 2em;
  background-color:whitesmoke;
  padding: 1em
}

.infoBox{ 
  border-radius: 5px;
  height: fit-content;
  margin-bottom: 1em;
  background-color: rgb(211, 255, 218) !important;
  color: rgb(88, 96, 105) !important;
  font-size: 16px !Important

}

.noshow{
  display: none 
}



@media (max-width: 625px){
  .view-area {
      padding: 0em;
  }
  .main-view {
    margin-top: 0em !important;
    padding: 0em;
    
  }

  .header-content .btn {
    background-color: rgba(0, 0, 0, 0);
    padding: 4px 30px;
    border-radius: 5px;
    color: rgb(199, 199, 199) !important;
    border: none;
    font-size: 1.2em;
  }
  .noshow{
    display: initial
  }
}