/* light.css: 👉 dark-on-light */
:root {
    --body-bg: white;
    --text-color: #262626;
    --text-time: #000000;
    --main-color: white;
    --gallery-background: rgba(255, 255, 255, 0.90);
    --header-color: white;
    --chat-active: ;
    --chat-hover:  none;
    --msg-border: 1px solid #dfdfdf;
    --msg-content-background: #fff;
    --our-msg: #9ee8ff;
    --notify: #9ee8ff;
    --warning-background: #ffa09e;
    --heart-color: #ed4e49;
    --login-background: white;
    --seen-indicator: rgba(0, 0, 0, 0.45);
    --input-bg: #f3f3f3;
    --input-text: #262626;
    --input-placeholder: #a9a9a9;
    --small-text-color: #262626;
    --msg-form-button-color: #999;
    --button-bg: ;
    --button-color: ;
    --button-border: 0;
    --button-border-size: 0;
    --menu-bg: white;
    --sidebar-bg: white;
    --zebra-stripe-bg:;
    --emoji-picker-bg: #FFFFFF;
    --emoji-picker-color: #777;
    --emoji-picker-border-color: #CCCCCC;
    --link-color: #00a0d1;
    --day-separator-bg: rgba(227, 249, 255, 0.91);
    --day-separator-color: rgba(74, 74, 74, 0.88);
    --non-string-value-color: blue;
    --nav-border-bottom: ;
    --positive-color: #80bf5e;
}
